@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #e91e63;
  --color-secondary: #2d325a;
  --color-accent: #ffc107;

  --color-white: #ffffff;
  --color-light-gray: #f8f9fa;
}

@layer base {
  body {
    @apply antialiased bg-light-gray text-secondary;
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    @apply text-secondary;
  }
}
